# Node modules
node_modules/

# Environment files
.env
.env.*

# System files
.DS_Store

# Logs
*.log

# VSCode settings
.vscode/

# Coverage
coverage/

# Output
/dist/
/build/

# Mac system files
Icon?

# Others
*.tgz
